@model List<ContactViewModel>
@{
    ViewData["Title"] = "User Contact";
}

<div class="container-fluid">
    <h1 class="display-4">User Contact</h1>
    <div class="row d-flex justify-content-around">
        <div class="col-lg-12">
            @foreach(var user in Model){
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://konsultanpendidikan.com/wp-content/uploads/2014/10/susanwojcicki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@user.Name</h5>
                        <p class="card-text">@user.Address</p>
                    <a href="#" class="btn btn-primary">@user.Email</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>
