@model ProductViewModel

@{
    ViewData["Title"] = "Add Product";
}

<h2> Form Add Product</a>
<form asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Id">Product Id</label>
        <input asp-for="Id" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Name">Product Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Category">Product Category</label>
        <input asp-for="Category" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Price">Product Price</label>
        <input asp-for="Price" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>

</form>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}