@model ProductViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.Name</td>
    </tr>
    
    <tr>
        <th>Category</th>
        <td>@Model.Category</td>
    </tr>
    <tr>
            <th>Price</th>
            <td>@Model.Price</td>
    </tr>
    <tr>
            <a asp-action="EditProduct" asp-route-id="@Model.Id" class="btn btn-sm btn-warning m-2">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Delete</a>
    </tr>
    </tbody>
</table>

