@model List<ProductViewModel>

@{
    ViewData["Title"] = "Product";
}

<h2>Product List<h2>
<a asp-action="AddProduct" asp-route-id="" class="btn btn-sm btn-primary">Add Product</a>
<table class="table table-responsive">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
